$white: rgba(245, 240, 246, 1);
$blue: rgba(69, 105, 144, 1);
$green: rgba(0, 163, 135, 1);
$red: rgba(214, 21, 47, 1);
$orange: rgba(244, 96, 54, 1);
$black: rgba(20, 19, 20, 1);
$rose: rgba(244, 91, 105, 1);
$wine: rgba(107, 39, 55, 1);